version: "3.9"

services:
  postgres:
    image: postgres:16
    env_file:
      - .env
    container_name: postgres
    restart: always
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:7
    networks:
      - app-network

  web:
    build: .
    env_file:
      - .env
    container_name: web
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  celery_worker:
    build: .
    command: celery -A app.tasks.celery_app.celery_app worker -l info
    depends_on:
      - redis
      - postgres
    networks:
      - app-network

  celery_beat:
    build: .
    command: celery -A app.tasks.celery_app.celery_app beat -l info
    depends_on:
      - redis
      - postgres
    networks:
      - app-network

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge