name: CI

on:
  push:
    branches:
      - feature/ci
  pull_request:
    branches:
      - feature/ci

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Install Poetry
        run: |
          - curl -sSL https://install.python-poetry.org | python3 -
          - echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: poetry install --with dev

      - name: Lint code
        run: poetry run flake8 .

      - name: Format check
        run: poetry run black --check .

      - name: Type checking
        run: poetry run mypy .

      - name: Run tests
        run: poetry run pytest --cov=.